openapi: 3.0.1
info:
  title: Ampersand public API
  version: 1.0.0
servers:
  - url: https://api.withampersand.com/v1
paths:
  /oauth-connect:
    post:
      operationId: oauthConnect
      summary: Get URL for OAuth flow
      description: Generate a URL for the browser to render to kick off OAuth flow. You can use this endpoint as an alternative to the [prebuilt UI components](https://docs.withampersand.com/embeddable-ui-components).
      tags: ["OAuth"]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - projectId
                - groupRef
                - consumerRef
                - provider
              properties:
                projectId:
                  type: string
                  description: The Ampersand project ID.
                  example: my-project
                provider:
                  type: string
                  description: The provider that this app connects to.
                  example: salesforce
                groupRef:
                  type: string
                  description: The ID that your app uses to identify the group of users for this Connection, this can be an Org ID, workspace ID, etc.
                  example: group-123
                groupName:
                  type: string
                  description: The display name for the group. Defaults to groupRef if not provided.
                  example: Organization Name
                consumerRef:
                  type: string
                  description: The ID that your app uses to identify the user whose SaaS credential will be used for this OAuth flow.
                  example: user_123456
                consumerName:
                  type: string
                  description: The display name for the consumer. Defaults to consumerRef if not provided.
                  example: John Doe
                providerWorkspaceRef:
                  type: string
                  description: The identifier for the provider workspace (e.g. the Salesforce subdomain).
                  example: salesforce-instance-domain
                providerMetadata:
                  $ref: "#/components/schemas/ProviderMetadata"
                providerAppId:
                  type: string
                  description:
                    ID of the provider app, returned from a CreateProviderApp call.
                    If omitted, the default provider app that was set up on the Ampersand Dashboard is assumed.
                  example: 32356abe-d2fd-49c7-9030-abdcbc6456d4
                enableCSRFProtection:
                  type: boolean
                  description: This boolean flag is used by the UI library internally. Set it to false or omit it when manually calling this API.
                  example: false
        required: true
      responses:
        200:
          description: OK
          content:
            text/plain:
              schema:
                type: string
                description: URL to render
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: connectOAuthParams
  /projects/{projectIdOrName}/connections/{connectionId}:oauth-update:
    patch:
      operationId: oauthUpdate
      summary: Get URL for updating OAuth connection
      description: Generate a URL for the browser to render to kick off OAuth flow that updates an existing connection.
      tags: ["OAuth"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          schema:
            type: string
          description: Ampersand Project ID or name.
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
          description: ID of connection to update.
      responses:
        200:
          description: OAuth update initiated successfully
          content:
            text/plain:
              schema:
                type: string
                description: URL to initiate OAuth flow
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects:
    get:
      summary: List all projects that the API key or user credential has access to.
      operationId: listProjects
      tags: ["Project"]
      responses:
        200:
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    post:
      summary: Create a new project
      operationId: createProject
      tags: ["Project"]
      requestBody:
        content:
          application/json:
            schema:
              # TODO(ENG-1029): once all projects have been backfilled with org ID, add orgId to required list
              required:
                - appName
                - name
                - orgId
              type: object
              properties:
                appName:
                  type: string
                  description: The app name.
                  example: MailMonkey
                name:
                  type: string
                  description: The project name. Must be alphanumerics and hyphens only. Project names will be save in lowercase.
                  example: mailmonkey-staging
                orgId:
                  type: string
                  description: The organization ID.
                  example: 9f7c3e2a-61b8-4f5c-8d1a-eb24f3b05d79
        required: true
      responses:
        201:
          description: The newly created project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: project
  /projects/{projectIdOrName}:
    get:
      summary: Get a project
      operationId: getProject
      tags: ["Project"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: includeEntitlements
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        200:
          description: Project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        404:
          description: Project not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    # Uncomment when ENG-2300 is fixed
    # delete:
    #   summary: Delete a project
    #   operationId: deleteProject
    #   tags: ["Project"]
    #   parameters:
    #     - name: projectIdOrName
    #       in: path
    #       required: true
    #       description: The Ampersand project ID or project name.
    #       schema:
    #         type: string
    #       example: my-project
    #   responses:
    #     204:
    #       description: Deleted
    #     422:
    #       description: Unprocessable Entity
    #       content:
    #         application/problem+json:
    #           schema:
    #             $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
    #     default:
    #       description: Error
    #       content:
    #         application/problem+json:
    #           schema:
    #             $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    patch:
      summary: Update a project
      operationId: updateProject
      tags: ["Project"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      requestBody:
        content:
          application/json:
            schema:
              required:
                - project
                - updateMask
              type: object
              properties:
                updateMask:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of field paths specifying which fields to update. Allowed values include:
                    - appName
                    - name
                  example: ["appName", "name"]
                project:
                  type: object
                  properties:
                    appName:
                      type: string
                      description: The app name.
                      example: MailMonkey
                    name:
                      type: string
                      description: The project name.
                      example: mailmonkey-staging
                  description: The project fields to update. (Only include the
                    fields you'd like to update.)
        required: true
      responses:
        200:
          description: The updated project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: projectUpdate
  /projects/{projectIdOrName}/provider-apps:
    get:
      summary: List provider apps
      operationId: listProviderApps
      tags: ["Provider App"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: TThe Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      responses:
        200:
          description: List of provider apps
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProviderApp"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    post:
      summary: Create a new provider app
      operationId: createProviderApp
      tags: ["Provider App"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      requestBody:
        content:
          application/json:
            schema:
              required:
                - clientId
                - clientSecret
                - provider
              type: object
              properties:
                externalRef:
                  type: string
                  description: The ID used by the provider to identify the app (optional).
                  example: external-id-123
                provider:
                  type: string
                  description: The SaaS provider that this app connects to.
                  example: salesforce
                clientId:
                  type: string
                  description: The OAuth client ID for this app.
                  example: client-id-123
                clientSecret:
                  type: string
                  description: The OAuth client secret for this app.
                  example: client-secret-123
                scopes:
                  type: array
                  description: The OAuth scopes for this app.
                  items:
                    type: string
                    example:
                      - read
                      - write
        required: true
      responses:
        200:
          description: The newly created provider app
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderApp"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: providerApp
  /projects/{projectIdOrName}/provider-apps/{providerAppId}:
    delete:
      summary: Delete a provider app.
      operationId: deleteProviderApp
      tags: ["Provider App"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: providerAppId
          in: path
          required: true
          description: ID of the provider app, returned by the CreateProviderApp call.
          schema:
            type: string
          example: 32356abe-d2fd-49c7-9030-abdcbc6456d4
      responses:
        204:
          description: Deleted
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    patch:
      summary: Update a provider app
      operationId: updateProviderApp
      tags: ["Provider App"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: providerAppId
          in: path
          required: true
          description: ID of the provider app, returned by the CreateProviderApp call.
          schema:
            type: string
          example: 32356abe-d2fd-49c7-9030-abdcbc6456d4
      requestBody:
        content:
          application/json:
            schema:
              required:
                - providerApp
                - updateMask
              type: object
              properties:
                updateMask:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of field paths specifying which fields to update. Allowed values include:
                    - externalRef
                    - clientId
                    - clientSecret
                    - provider
                    - scopes
                  example: ["externalRef", "clientId"]
                providerApp:
                  type: object
                  properties:
                    externalRef:
                      type: string
                      description:
                        The ID used by the provider to identify the app
                        (optional).
                      example: external-id-123
                    provider:
                      type: string
                      description: The SaaS provider that this app connects to.
                      example: salesforce
                    clientId:
                      type: string
                      description: The OAuth client ID for this app.
                      example: client-id-123
                    clientSecret:
                      type: string
                      description: The OAuth client secret for this app.
                      example: client-secret-123
                    scopes:
                      type: array
                      description: The OAuth scopes for this app.
                      items:
                        type: string
                        example:
                          - read
                          - write
                  description:
                    The provider app fields to update. (Only include the
                    fields you'd like to update.)
        required: true
      responses:
        200:
          description: The updated provider app
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderApp"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: providerAppUpdate
  /projects/{projectIdOrName}/integrations:
    get:
      summary: List integrations
      operationId: listIntegrations
      tags: ["Integration"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      responses:
        200:
          description: List of integrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Integration"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    post:
      summary: Create a new integration.
      operationId: createIntegration
      tags: ["Integration"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      requestBody:
        content:
          application/json:
            schema:
              required:
                - name
                - provider
                - latestRevision
              type: object
              properties:
                name:
                  type: string
                  description: The integration name.
                  example: my-integration
                provider:
                  type: string
                  description: The provider name (e.g. "salesforce", "hubspot")
                latestRevision:
                  type: object
                  required:
                    - content
                    - specVersion
                  properties:
                    specVersion:
                      type: string
                      description: The spec version string.
                      example: 1.0.0
                    content:
                      $ref: "../manifest/manifest.yaml#/components/schemas/Integration"
        required: true
      responses:
        201:
          description: Created
          content: {}
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: integration
  /projects/{projectIdOrName}/integrations/{integrationIdOrName}:
    get:
      summary: Get an integration by ID or name
      operationId: getIntegration
      tags: ["Integration"]
      parameters:
        - name: integrationIdOrName
          in: path
          required: true
          description: The integration ID or name.
          schema:
            type: string
          example: 123e4567-e89b-12d3-a456-426614174000
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      responses:
        200:
          description: The integration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Integration"
        404:
          description: Integration not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations/{integrationId}:
    delete:
      summary: Delete an integration
      operationId: deleteIntegration
      description: Delete an integration and all its installations.
      tags: ["Integration"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
          example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        204:
          description: Deleted
        404:
          description: Integration not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations:batch:
    put:
      summary: Batch upsert a group of integrations
      operationId: batchUpsertIntegrations
      description: This endpoint is used by the Ampersand CLI to batch upsert integrations. We recommend using the [CLI's deploy command](https://docs.withampersand.com/cli/overview#deploy-integrations) rather than this API endpoint directly.
      tags: ["Integration"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: destructive
          in: query
          required: false
          description: Defaults to false. This flag controls whether to perform destructive actions when deploying integrations, like pausing all read actions for an object that was removed in the latest revision.
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceZipUrl:
                  type: string
                  description:
                    URL of where a zip of the source files can be downloaded
                    (e.g. Google Cloud Storage URL).
                  example: https://storage.googleapis.com/my-bucket/source-files/integration-v1.2.3.zip
                sourceYaml:
                  type: string
                  description: A YAML string that defines the integrations.
              description: The source of the integrations to upsert. One of sourceZipUrl or sourceYaml is required.
      responses:
        200:
          description: Upserted integrations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Integration"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations/{integrationId}/revisions:
    post:
      summary: Create a new revision.
      operationId: createRevision
      description: We recommend using the [CLI's deploy command](https://docs.withampersand.com/cli/overview#deploy-integrations) rather than this API endpoint directly, unless you have an advanced use case.
      tags: ["Revision"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: destructive
          in: query
          required: false
          description: Defaults to false. This flag controls whether to perform destructive actions when deploying integrations, like pausing all read actions for an object that was removed in the latest revision.
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                sourceZipUrl:
                  type: string
                  description:
                    URL of where a zip of the source files can be downloaded
                    (e.g. Google Cloud Storage URL).
                  example: https://storage.googleapis.com/my-bucket/source-files/integration-v1.2.3.zip
                sourceYaml:
                  type: string
                  description: The source YAML file that defines the revision.
              description: The source of the revision to create. One of sourceZipUrl or sourceYaml is required.
        required: true
      responses:
        201:
          description: Created
          content: {}
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: revision
  /projects/{projectIdOrName}/integrations/{integrationId}/revisions/{revisionId}:hydrate:
    get:
      summary: Hydrate a revision
      description: Hydrate a revision with information from the consumer's SaaS instance.
      operationId: getHydratedRevision
      tags: ["Revision"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: revisionId
          in: path
          required: true
          description: The revision ID.
          schema:
            type: string
        - name: connectionId
          in: query
          required: true
          description: The connection ID.
          schema:
            type: string
      responses:
        200:
          description: Hydrated revision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HydratedRevision"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations/{integrationId}/installations:
    get:
      summary: List installations
      operationId: listInstallations
      tags: ["Installation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
        - name: groupRef
          in: query
          description: The ID of the user group that has access to this installation.
          example: group-123
          schema:
            type: string
      responses:
        200:
          description: List of installations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Installation"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    post:
      summary: Create a new installation
      operationId: createInstallation
      tags: ["Installation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - config
                - groupRef
              type: object
              properties:
                groupRef:
                  type: string
                  description: The ID of the user group that has access to this installation.
                  example: group-123
                connectionId:
                  type: string
                  description:
                    The ID of the SaaS connection tied to this installation.
                    If omitted the default connection for this group will be used.
                config:
                  required:
                    - content
                  type: object
                  properties:
                    revisionId:
                      type: string
                      deprecated: true
                      description:
                        "Deprecated: This field will be automatically set to the latest revision."
                    createdBy:
                      type: string
                      description:
                        The person who created the config, in the format
                        of "consumer:{consumer-id}" or "builder:{builder-id}".
                      default: "api:create-installation"
                    content:
                      $ref: "../config/config.yaml#/components/schemas/ConfigContent"
                  description: The config of the installation.
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Installation"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: installation
  /projects/{projectIdOrName}/integrations/{integrationId}/installations/{installationId}:
    get:
      summary: Get an installation
      operationId: getInstallation
      tags: ["Installation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: installationId
          in: path
          required: true
          description: The installation ID.
          schema:
            type: string
      responses:
        200:
          description: The installation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Installation"
        400:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    delete:
      summary: Delete an installation
      operationId: deleteInstallation
      tags: ["Installation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: installationId
          in: path
          required: true
          schema:
            type: string
          description: The Ampersand installation ID.
      responses:
        204:
          description: Deleted
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    patch:
      summary: Update an installation
      operationId: updateInstallation
      tags: ["Installation"]
      description: |
        NOTE: Updating an installation with the Subscribe action typically takes 1–2 minutes, but it may take up to 10 minutes to take effect due to delays in the provider’s system.
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: installationId
          in: path
          required: true
          description: The Ampersand installation ID.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
                - installation
                - updateMask
              type: object
              properties:
                updateMask:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of field paths specifying which fields to update. Allowed values include:
                    - connectionId
                    - config.createdBy
                    - config.content.read.objects.OBJECT_NAME
                    - config.content.write.objects.OBJECT_NAME
                    - config.content.write.objects
                    - config.content.subscribe.objects.OBJECT_NAME
                    - config.content.subscribe.objects
                    - config.content.proxy.enabled

                    `OBJECT_NAME` means you can specify any object name.
                  example: ["config.content.read.objects.contacts", "config.content.write.objects.leads"]
                installation:
                  type: object
                  properties:
                    connectionId:
                      type: string
                      description: The ID of the SaaS connection tied to this installation.
                      example: connection-123
                    config:
                      type: object
                      properties:
                        revisionId:
                          type: string
                          deprecated: true
                          description:
                            "Deprecated: This field will be automatically set to the latest revision ID."
                        createdBy:
                          type: string
                          description:
                            The person who created the config, in the format
                            of "consumer:{consumer-id}" or "builder:{builder-id}".
                        content:
                          $ref: "../config/config.yaml#/components/schemas/UpdateInstallationConfigContent"
                          description: The content of the config.
                      description: The config of the installation.
                  description:
                    The installation fields to update. (You only need to include the
                    fields you'd like to update, which are specified in the update masks. The rest will be ignored.)
        required: true
      responses:
        200:
          description: The updated installation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Installation"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: installationUpdate
  /projects/{projectIdOrName}/integrations/{integrationId}/objects/{objectName}/config-content:
    patch:
      summary: Update an installation object
      description: |
        Updates a single object's configuration within an installation using JSON Patch syntax.
      operationId: patchObjectConfigContent
      tags: ["Installation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: objectName
          in: path
          required: true
          description: |
            The object name whose config content will be patched.
            Must match an object name defined in the integration's manifest for the specified action type (read, subscribe, or write).
            Common examples include: `account`, `contact`, `lead`, `opportunity` (for Salesforce), `deal`, `company` (for HubSpot), etc.
          schema:
            type: string
          example: account
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - oneOf:
                    - type: object
                      required: [groupRef, action, changes]
                      properties:
                        groupRef:
                          type: string
                          description: |
                            The ID of the user group that has access to this installation.
                            Either groupRef or installationId must be provided.
                          example: group-123
                        action:
                          type: string
                          enum: [read, subscribe, write]
                          description: The action type for the object config (read, subscribe, or write).
                          example: read
                        changes:
                          type: array
                          minItems: 1
                          description: |
                            Array of JSON Patch operations to apply.
                          items:
                            $ref: "#/components/schemas/JSONPatchOperation"
                          example:
                            - op: replace
                              path: /schedule
                              value: "*/10 * * * *"
                            - op: add
                              path: /selectedFields/phone
                              value: true
                            - op: remove
                              path: /selectedFields/billingcity
                    - type: object
                      required: [installationId, action, changes]
                      properties:
                        installationId:
                          type: string
                          description: |
                            The installation ID.
                            Either groupRef or installationId must be provided.
                          example: installation-123
                        action:
                          type: string
                          enum: [read, subscribe, write]
                          description: The action type for the object config (read, subscribe, or write).
                          example: read
                        changes:
                          type: array
                          minItems: 1
                          description: |
                            Array of JSON Patch operations to apply.
                          items:
                            $ref: "#/components/schemas/JSONPatchOperation"
                          example:
                            - op: replace
                              path: /schedule
                              value: "*/10 * * * *"
                            - op: add
                              path: /selectedFields/phone
                              value: true
                            - op: remove
                              path: /selectedFields/billingcity
        required: true
      responses:
        200:
          description: The updated installation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Installation"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        404:
          description: Installation not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: patchObjectConfigContent
  /projects/{projectIdOrName}/integrations/{integrationId}/objects/{objectName}/metadata:
    get:
      summary: Get object metadata for installation
      description: |
        Retrieves metadata about an object in a customer's SaaS instance, including its fields.
        This endpoint requires that an Installation exists for the given groupRef.
        It applies object mappings. This endpoint may return nested fields as a part of the response.
        Nested fields are returned in JSONPath bracket notation (e.g. `$['billingaddress']['city']`).
        Currently, nested fields are only returned for Salesforce, but this may be expanded to other providers in the future.
      tags: ["Objects & Fields"]
      operationId: getObjectMetadataForInstallation
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The unique identifier or name of the project.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: objectName
          in: path
          required: true
          description: Object name (mapped or unmapped)
          schema:
            type: string
        - name: groupRef
          in: query
          required: false
          description: The groupRef for the installation
          example: group-123
          schema:
            type: string
        - name: excludeReadOnly
          in: query
          required: false
          description: Excludes fields where `ReadOnly` is `true` from the response.
          example: true
          schema:
            type: boolean
      responses:
        '200':
          description: The retrieved object metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectMetadata'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/installations:
    get:
      summary: List installations for a project
      description: |
        Lists all installations for a given project and query parameters.
      operationId: listInstallationsForProject
      tags: ["Installation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: groupRef
          in: query
          description: The group ref to filter by.
          example: groupRef123
          schema:
            type: string
      responses:
        200:
          description: List of installations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Installation"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/providers/{provider}/objects/{objectName}/metadata:
    get:
      summary: Get object metadata for connection
      description: |
        Retrieves metadata about an object in a customer's SaaS instance, including its fields.
        This endpoint only requires that a Connection exists for the given groupRef.
        It does not apply any object mappings. This endpoint may return nested fields as a part of the response.
        Nested fields are returned in JSONPath bracket notation (e.g. `$['billingaddress']['city']`).
        Currently, nested fields are only returned for Salesforce, but this may be expanded to other providers in the future.
      tags: ["Objects & Fields"]
      operationId: getObjectMetadataForConnection
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The unique identifier or name of the project.
          schema:
            type: string
          example: my-project
        - name: provider
          in: path
          required: true
          description: The API Provider
          schema:
            type: string
        - name: objectName
          in: path
          required: true
          description: Object name (mapped or unmapped)
          schema:
            type: string
        - name: groupRef
          in: query
          required: false
          description: The groupRef for the connection.
          example: group-123
          schema:
            type: string
        - name: excludeReadOnly
          in: query
          required: false
          description: Excludes fields where `ReadOnly` is `true` from the response.
          example: true
          schema:
            type: boolean
      responses:
        '200':
          description: The retrieved object metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectMetadata'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations/{integrationId}/object-metadata:
    put:
      summary: Upsert custom fields for installation
      operationId: upsertMetadataForInstallation
      description: Create or update fields in the SaaS instance tied to an installation. Only HubSpot and Salesforce are supported currently.
      tags: ["Objects & Fields"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
          example: 32356abe-d2fd-49c7-9030-abdcbc6456d4
      requestBody:
        required: true
        description: Metadata upsert request containing field definitions to create or update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertMetadataRequest'
            examples:
              createTextFields:
                summary: Create text fields on multiple objects
                value:
                  groupRef: "group-123"
                  fields:
                    Account:
                      - fieldName: "Industry"
                        displayName: "Industry Sector"
                        description: "The industry this account operates in"
                        valueType: "string"
                        required: false
                        stringOptions:
                          length: 255
                          defaultValue: "Technology"
                      - fieldName: "Company_Size"
                        displayName: "Company Size"
                        valueType: "string"
                        stringOptions:
                          values: ["Small", "Medium", "Large", "Enterprise"]
                          valuesRestricted: true
                    Contact:
                      - fieldName: "Seniority_Level"
                        displayName: "Seniority Level"
                        valueType: "string"
                        stringOptions:
                          values: ["Junior", "Mid", "Senior", "Executive"]
                          valuesRestricted: true
              createNumericFields:
                summary: Create numeric fields with constraints
                value:
                  groupRef: "group-123"
                  fields:
                    Opportunity:
                      - fieldName: "Deal_Score"
                        displayName: "Deal Score"
                        description: "Likelihood score from 0-100"
                        valueType: "float"
                        required: true
                        numericOptions:
                          precision: 5
                          scale: 2
                          min: 0
                          max: 100
                          defaultValue: 50
              createAssociationField:
                summary: Create field with association to another object
                value:
                  groupRef: "group-123"
                  fields:
                    Task:
                      - fieldName: "Related_Contact"
                        displayName: "Related Contact"
                        valueType: "string"
                        association:
                          associationType: "lookup"
                          targetObject: "Contact"
                          targetField: "Id"
                          cardinality: "many-to-one"
                          required: false
                          labels:
                            singular: "Contact"
                            plural: "Contacts"
      responses:
        '200':
          description: Metadata creation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertMetadataResponse'
        '400':
          description: Invalid request payload or validation errors
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '401':
          description: Authentication required
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '403':
          description: Insufficient permissions for metadata operations
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '404':
          description: Project, integration, or installation not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/providers/{provider}/object-metadata:
    put:
      summary: Upsert custom fields for connection
      operationId: upsertMetadataForConnection
      description: Create or update fields in the SaaS instance tied to a connection. Only HubSpot and Salesforce are supported currently.
      tags: ["Objects & Fields"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: provider
          in: path
          required: true
          description: The provider that this connection connects to.
          schema:
            type: string
          example: salesforce
      requestBody:
        required: true
        description: Metadata upsert request containing field definitions to create or update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertMetadataRequest'
            examples:
              createTextFields:
                summary: Create text fields on multiple objects
                value:
                  groupRef: "group-123"
                  fields:
                    Account:
                      - fieldName: "Industry"
                        displayName: "Industry Sector"
                        description: "The industry this account operates in"
                        valueType: "string"
                        required: false
                        stringOptions:
                          length: 255
                          defaultValue: "Technology"
                      - fieldName: "Company_Size"
                        displayName: "Company Size"
                        valueType: "string"
                        stringOptions:
                          values: ["Small", "Medium", "Large", "Enterprise"]
                          valuesRestricted: true
                    Contact:
                      - fieldName: "Seniority_Level"
                        displayName: "Seniority Level"
                        valueType: "string"
                        stringOptions:
                          values: ["Junior", "Mid", "Senior", "Executive"]
                          valuesRestricted: true
              createNumericFields:
                summary: Create numeric fields with constraints
                value:
                  groupRef: "group-123"
                  fields:
                    Opportunity:
                      - fieldName: "Deal_Score"
                        displayName: "Deal Score"
                        description: "Likelihood score from 0-100"
                        valueType: "float"
                        required: true
                        numericOptions:
                          precision: 5
                          scale: 2
                          min: 0
                          max: 100
                          defaultValue: 50
              createAssociationField:
                summary: Create field with association to another object
                value:
                  groupRef: "group-123"
                  fields:
                    Task:
                      - fieldName: "Related_Contact"
                        displayName: "Related Contact"
                        valueType: "string"
                        association:
                          associationType: "lookup"
                          targetObject: "Contact"
                          targetField: "Id"
                          cardinality: "many-to-one"
                          required: false
                          labels:
                            singular: "Contact"
                            plural: "Contacts"
      responses:
        '200':
          description: Metadata creation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertMetadataResponse'
        '400':
          description: Invalid request payload or validation errors
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '401':
          description: Authentication required
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '403':
          description: Insufficient permissions for metadata operations
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '404':
          description: Project or connection not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations/{integrationId}/installations/{installationId}/operations:
    get:
      summary: List operations
      operationId: listOperations
      tags: ["Operation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: installationId
          in: path
          required: true
          description: The Ampersand installation ID.
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 200
          description: The number of operations to return.
        - name: pageToken
          in: query
          schema:
            type: string
          description: A cursor that can be passed to paginate through multiple pages of operations.
      responses:
        200:
          description: List of operations
          content:
            application/json:
              schema:
                type: object
                required:
                  - results
                  - pagination
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Operation'
                  pagination:
                    $ref: '#/components/schemas/PaginationInfo'
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/operations/{operationId}:
    get:
      summary: Get an operation
      operationId: getOperation
      tags: ["Operation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: operationId
          in: path
          required: true
          description: Operation ID.
          schema:
            type: string
      responses:
        200:
          description: Operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/operations/{operationId}/logs:
    get:
      summary: List logs for an operation
      operationId: listOperationLogs
      tags: ["Operation"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: operationId
          in: path
          required: true
          description: Operation ID.
          schema:
            type: string
      responses:
        200:
          description: List of logs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Log"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /providers:
    get:
      summary: List providers
      operationId: listProviders
      tags: ["Provider"]
      responses:
        200:
          description: List of providers & their information
          content:
            application/json:
              schema:
                $ref: "../catalog/catalog.yaml#/components/schemas/CatalogType"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /providers/{provider}:
    get:
      summary: Get provider
      operationId: getProvider
      tags: ["Provider"]
      parameters:
        - name: provider
          in: path
          required: true
          description: The API provider.
          example: hubspot
          schema:
            type: string
      responses:
        200:
          description: ProviderInfo
          content:
            application/json:
              schema:
                $ref: "../catalog/catalog.yaml#/components/schemas/ProviderInfo"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/api-keys:
    get:
      x-speakeasy-ignore: true
      summary: List API keys
      operationId: listApiKeys
      tags: ["API Key"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: active
          in: query
          description: Whether to include only active API keys. If false, all API keys are included.
          schema:
            type: boolean
      responses:
        200:
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ApiKey"
        404:
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    post:
      x-speakeasy-ignore: true
      summary: Create a new API key
      operationId: createApiKey
      tags: ["API Key"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyRequest"
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        404:
          description: Project not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: apiKey
  /projects/{projectIdOrName}/api-keys/{apiKey}:
    get:
      x-speakeasy-ignore: true
      summary: Get an API key
      operationId: getApiKey
      tags: ["API Key"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: apiKey
          in: path
          required: true
          description: API key to access Ampersand APIs.
          schema:
            type: string
      responses:
        404:
          description: API key not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        200:
          description: API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    delete:
      x-speakeasy-ignore: true
      summary: Delete an API key
      operationId: deleteApiKey
      tags: ["API Key"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: apiKey
          in: path
          required: true
          description: API key to access Ampersand APIs.
          schema:
            type: string
      responses:
        404:
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        204:
          description: Deleted
    patch:
      x-speakeasy-ignore: true
      summary: Update an API key
      operationId: updateApiKey
      tags: ["API Key"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: apiKey
          in: path
          required: true
          description: API key to access Ampersand APIs.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchApiKeyRequest"
        required: true
      responses:
        200:
          description: API key updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        404:
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/connections:
    get:
      summary: List connections
      operationId: listConnections
      tags: ["Connection"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: provider
          in: query
          description: The provider name (e.g. "salesforce", "hubspot")
          schema:
            type: string
        - name: groupRef
          in: query
          description: The ID of the user group that has access to this installation.
          example: group-123
          schema:
            type: string
        - name: consumerRef
          in: query
          description: The consumer reference.
          schema:
            type: string
      responses:
        200:
          description: List of project connections.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Connection"
        404:
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/connections:generate:
    post:
      summary: Generate a new connection
      description: All auth schemes are supported, but for OAuth2 Authorization Code, it is recommended that you use the [/oauth-connect endpoint](https://docs.withampersand.com/reference/oauth/get-url-for-oauth-flow) instead, unless you already have the refresh token and are importing it into Ampersand.
      operationId: generateConnection
      tags: ["Connection"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateConnectionRequest"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: generateConnectionParams
  /projects/{projectIdOrName}/connections/{connectionId}:
    get:
      summary: Get a connection
      operationId: getConnection
      tags: ["Connection"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
        - name: includeCreds
          in: query
          schema:
            type: boolean
          description: Whether to include the credentials in the response. Only access token will be included. Default is false.
        - name: includeRefreshToken
          in: query
          schema:
            type: boolean
          description: Whether to include the refresh token in credentials in the response along with access token. If true, the `includeCreds` query parameter will be ignored. Default is false.
        - name: refresh
          in: query
          schema:
            type: string
            enum: [force, ifExpired]
          description:
            Whether to refresh the access token. If value is `ifExpired`, the access token will be refreshed only if it has expired. If value is `force`, the access token will be refreshed regardless of its expiration.
      responses:
        200:
          description: Connection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connection"
        404:
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    patch:
      summary: Update a connection.
      description: Update an existing connection.
      operationId: updateConnection
      tags: ["Connection"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          schema:
            type: string
          description: Project ID or Name.
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
          description: Connection ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConnectionRequest'
      responses:
        '200':
          description: Connection updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        400:
          description: Bad request.
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    delete:
      summary: Delete a connection
      operationId: deleteConnection
      tags: ["Connection"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: connectionId
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Deleted
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/destinations:
    post:
      summary: Create a new destination
      operationId: createDestination
      tags: ["Destination"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - metadata
              properties:
                name:
                  type: string
                  description: Name for the new destination.
                    Must be unique within the project and can only contain letters, numbers and dashes.
                  example: leadConvertedWebhook
                type:
                  type: string
                  description: The type of the destination.
                  example: webhook
                  enum: [webhook, kinesis]
                secrets:
                  type: object
                  description: Secrets for the destination.
                  properties:
                    awsKeyId:
                      type: string
                      description: The AWS access key ID for the Kinesis destination.
                      example: AKIAIOSFODNN7EXAMPLE
                      x-go-type-skip-optional-pointer: true
                    awsSecretKey:
                      type: string
                      description: The AWS secret access key for the Kinesis destination.
                      example: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
                      x-go-type-skip-optional-pointer: true
                    awsSessionToken:
                      type: string
                      description: The AWS session token for the Kinesis destination.
                      example: AQoEXAMPLEH4aoAH0gNCAPy...
                      x-go-type-skip-optional-pointer: true
                metadata:
                  type: object
                  properties:
                    url:
                      type: string
                      description: Webhook URL, must start with "https://".
                      example: https://webhooks.mailmonkey.com/salesforce-lead-converted
                    headers:
                      $ref: "#/components/schemas/WebhookHeaders"
                    region:
                      type: string
                      description: The AWS region where the kinesis destination is hosted.
                      example: us-east-1
                      x-go-type-skip-optional-pointer: true
                    streamName:
                      type: string
                      description: The name of the Kinesis stream to send events to.
                      example: my-kinesis-stream
                      x-go-type-skip-optional-pointer: true
                    endpointUrl:
                      type: string
                      description: The endpoint URL for the Kinesis stream.
                      example: https://kinesis.us-east-1.amazonaws.com
                      x-go-type-skip-optional-pointer: true
                    partitionKeyTemplate:
                      type: string
                      description: The template for the partition key to use when sending events to Kinesis (a JMESPath template)
                      example: "data.user_id"
                      x-go-type-skip-optional-pointer: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Destination"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: destination
    get:
      summary: List destinations
      operationId: listDestinations
      tags: ["Destination"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
      responses:
        200:
          description: List of destinations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Destination"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/destinations/{destination}:
    get:
      summary: Get a destination
      operationId: getDestination
      tags: [ "Destination" ]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: destination
          in: path
          required: true
          schema:
            type: string
          description: The destination name.
          example: leadConvertedWebhook
        - name: includeSecrets
          in: query
          required: false
          description: Include secrets in the response
          schema:
            type: boolean
          example: true
        - name: rotate
          in: query
          required: false
          description: Rotate the destination secrets
          schema:
            type: boolean
          example: true
      responses:
        404:
          description: Destination not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestinationWithSecrets"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
    patch:
      summary: Update a destination
      operationId: updateDestination
      tags: ["Destination"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: destination
          in: path
          required: true
          schema:
            type: string
          description: The destination ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - updateMask
                - destination
              properties:
                updateMask:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of field paths specifying which fields to update. Allowed values include:
                    - name
                    - metadata.url
                    - metadata.headers
                    - metadata.region
                    - metadata.streamName
                    - metadata.endpointUrl
                    - metadata.partitionKeyTemplate
                    - secrets.awsKeyId
                    - secrets.awsSecretKey
                    - secrets.awsSessionToken

                  example: ["name", "metadata.url", "metadata.region", "metadata.streamName"]
                destination:
                  type: object
                  properties:
                    name:
                      type: string
                      description: User-friendly name for the destination
                      example: leadConvertedWebhook
                    metadata:
                      type: object
                      properties:
                        url:
                          type: string
                          description: Webhook URL
                          example: https://webhooks.mailmonkey.com/salesforce-lead-converted
                        headers:
                          $ref: "#/components/schemas/WebhookHeaders"
                        region:
                          type: string
                          description: The AWS region where the kinesis destination is hosted.
                          example: us-east-1
                        streamName:
                          type: string
                          description: The name of the Kinesis stream to send events to.
                          example: my-kinesis-stream
                        endpointUrl:
                          type: string
                          description: The endpoint URL for the Kinesis stream.
                          example: https://kinesis.us-east-1.amazonaws.com
                        partitionKeyTemplate:
                          type: string
                          description: The template for the partition key to use when sending events to Kinesis (a JMESPath template)
                          example: "data.user_id"
                    secrets:
                      type: object
                      description: Secrets for the destination.
                      properties:
                        awsKeyId:
                          type: string
                          description: The AWS access key ID for the Kinesis destination.
                          example: AKIAIOSFODNN7EXAMPLE
                        awsSecretKey:
                          type: string
                          description: The AWS secret access key for the Kinesis destination.
                          example: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
                        awsSessionToken:
                          type: string
                          description: The AWS session token for the Kinesis destination.
                          example: AQoEXAMPLEH4aoAH0gNCAPy...
      responses:
        404:
          description: Destination not found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        400:
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        200:
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Destination"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: destinationUpdate
    delete:
      summary: Delete a destination
      operationId: deleteDestination
      tags: ["Destination"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: destination
          in: path
          required: true
          schema:
            type: string
          description: The destination ID
      responses:
        204:
          description: Deleted
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /generate-upload-url:
    get:
      summary: Generate a signed URL to upload a zip file to.
      operationId: generateUploadUrl
      tags: ["Upload URL"]
      responses:
        200:
          description: Signed URL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignedUrl"
        422:
          description: Unprocessable Entity
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /orgs:
    post:
      x-speakeasy-ignore: true
      summary: Create a new organization
      operationId: createOrg
      tags: ["Org"]
      requestBody:
        content:
          application/json:
            schema:
              required:
                - label
              type: object
              properties:
                label:
                  type: string
                  description: The organization label.
                  example: org-123
        required: true
      responses:
        201:
          description: The newly created org
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Org"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
      x-codegen-request-body-name: org
  /orgs/{orgId}:
    get:
      x-speakeasy-ignore: true
      summary: Get an organization
      operationId: getOrg
      tags: ["Org"]
      parameters:
        - name: orgId
          in: path
          required: true
          description: ID of the organization.
          schema:
            type: string
          example: 9f7c3e2a-61b8-4f5c-8d1a-eb24f3b05d79
      responses:
        200:
          description: Organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Org"
        404:
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
[...]
