openapi: 3.0.1
info:
  title: Ampersand public read API
  version: 1.0.0
servers:
  - url: https://read.withampersand.com/v1
paths:
  /projects/{projectIdOrName}/integrations/{integrationId}/objects/{objectName}:
    post:
      summary: Trigger a read
      description:
        Triggers reading data from a SaaS instance. See [Trigger a read](https://docs.withampersand.com/define-integrations/read-actions#trigger-a-read) for details. If you want scheduled reads or automatic backfills instead, you [can define them in the manifest](https://docs.withampersand.com/read-actions#defining-reads).
      operationId: triggerRead
      tags: ["Read"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          schema:
            type: string
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
        - name: objectName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Read Request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReadRequest"
      responses:
        201:
          description: The success response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadResultAsync"
        400:
          description: The failure response for bad request.
          content:
            application/json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"

  /projects/{projectIdOrName}/integrations/{integrationId}/objects/{objectName}:deliverResults:
    post:
      summary: Deliver results
      description:
        If a read action has delivery mode set to onRequest, then use this endpoint to request for more results.
        Learn more in [Delivery modes](https://docs.withampersand.com/define-integrations/read-actions#delivery-modes).
      operationId: deliverResults
      tags: ["Read"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          schema:
            type: string
        - name: integrationId
          in: path
          required: true
          schema:
            type: string
        - name: objectName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: ResultDeliveryRequestBody
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResultDeliveryRequestBody"
      responses:
        204:
          description: The success response
        400:
          description: The failure response for bad request.
          content:
            application/json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        500:
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations/{integrationId}/installations/{installationId}:pause:
    post:
      summary: Pause reads for an installation
      description: Pauses all scheduled reads for an installation. If reads are already paused, this will be a no-op. Accepts specific objects to pause reads for in the request body.
      operationId: pauseReads
      tags: ["Read"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: installationId
          in: path
          required: true
          description: The Ampersand installation ID.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                objects:
                  type: array
                  items:
                    type: string
                    example: ["account", "contact"]
                    description: The names of the objects (mapped or unmapped) to pause reads for. If not provided, all objects will be paused.
                note:
                  type: string
                  description: A note to accompany the pause.
      responses:
        '204':
          description: Reads paused successfully
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
  /projects/{projectIdOrName}/integrations/{integrationId}/installations/{installationId}:unpause:
    post:
      summary: Unpause reads for an installation
      description: Unpauses all scheduled reads for an installation. If no reads were paused, this will be a no-op. Accepts specific objects to unpause reads for in the request body.
      operationId: unpauseReads
      tags: ["Read"]
      parameters:
        - name: projectIdOrName
          in: path
          required: true
          description: The Ampersand project ID or project name.
          schema:
            type: string
          example: my-project
        - name: integrationId
          in: path
          required: true
          description: The integration ID.
          schema:
            type: string
        - name: installationId
          in: path
          required: true
          description: The Ampersand installation ID.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                objects:
                  type: array
                  items:
                    type: string
                    description: The names of the objects to unpause reads for.
                    example: ["account", "contact"]
                note:
                  type: string
                  description: A note to accompany the unpause.
      responses:
        '204':
          description: Reads unpaused successfully
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/InputValidationProblem"
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: "../problem/problem.yaml#/components/schemas/ApiProblem"
components:
  schemas:
    ReadRequest:
      title: Read Request
      required:
        - groupRef
        - mode
      type: object
      properties:
        groupRef:
          type: string
          description:
            The ID of the user group whose SaaS instance you'd like to read data from. This is the ID that was provided
            during installation creation.
        mode:
          type: string
          description: The mode of read operation. Currently only asynchronus operation is supported.
          enum: [async]
          example: async
        sinceTimestamp:
          type: string
          description: The UTC timestamp from which to read data. If omitted, we will read all data.
          example: "2024-07-01T18:22:30.323771761Z"
        untilTimestamp:
          type: string
          description: The UTC timestamp until which to read data.
          example: "2024-07-05T18:22:30.323771761Z"
    ReadResultAsync:
      title: Read Result Async
      type: object
      required:
        - operationId
      properties:
        operationId:
          type: string
          description: The operation ID
          example: 60deaf48-3856-4a2b-bfd4-3de85125eca8
    ResultDeliveryRequestBody:
      title: Result Delivery Request
      required:
        - groupRef
        - pages
      type: object
      properties:
        groupRef:
          type: string
          description:
            The ID of the user group whose SaaS instance you'd like to receive results from. This is the ID that was provided
            during installation creation.
        pages:
          type: integer
          description: The number of pages you are ready to receive from the group's SaaS instance.
          minimum: 0
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      name: X-Api-Key
      in: header
    APIKeyQueryParam:
      type: apiKey
      name: apiKey
      in: query
    Bearer:
      type: apiKey
      name: Authorization
      in: header
security:
  - APIKeyHeader: []
